<div class="card" style="width: 20rem">
  <div class="card-body">
    <h5 class="card-title">
      {{ lecturer.firstName }} {{ lecturer.lastName }}
      {{ lecturer.academicDegree }}
    </h5>
    <p class="card-text">
      Teaching: {{ lecturer.subject }} <br />
      Cathedral: {{ lecturer.cathedral }}
    </p>
    <div
      class="button--container"
      *ngIf="!(hasStudentRole$ | async) && !(hasLecturerRole$ | async)"
    >
      <button
        *ngIf="!(hasStudentRole$ | async)"
        (click)="editLecturer()"
        matTooltip="Edit"
      >
        <mat-icon class="material-icons-outlined icon">edit</mat-icon>
      </button>
      <button (click)="deleteLecturer()" matTooltip="Delete">
        <mat-icon class="material-icons-outlined icon">delete</mat-icon>
      </button>
    </div>
  </div>
</div>
