button {
  border: none;
  outline: none;
  background: transparent;
}
mat-icon {
  font-size: 2rem;
  width: 2rem;
  height: fit-content;
}
.button--container {
  margin-top: 1.5rem;
  display: flex;
  justify-content: space-around;
  gap: 1rem;
}
h5 {
  font-size: 1.5rem;
  font-weight: bold;
}
.card-text {
  display: -webkit-box;
  height: calc(15 * 1.22rem);
  -webkit-line-clamp: 15;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}
.card-title {
  height: 1.2rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.card {
  cursor: pointer;
  -webkit-box-shadow: 0px -1px 16px -2px rgba(66, 68, 90, 0.5);
  -moz-box-shadow: 0px -1px 16px -2px rgba(66, 68, 90, 0.5);
  box-shadow: 0px -1px 16px -2px rgba(66, 68, 90, 0.5);
  transition: box-shadow 0.1s ease-in-out;
}

.card:hover {
  -webkit-box-shadow: 0px -1px 16px 1px rgba(66, 68, 90, 0.5);
  -moz-box-shadow: 0px -1px 16px 1px rgba(66, 68, 90, 0.5);
  box-shadow: 0px -1px 16px 1px rgba(66, 68, 90, 0.5);
}
.icon {
  transition: transform 0.1s cubic-bezier(0.89, 0.02, 0.44, 1.39);
}
.icon:hover {
  transform: scale(1.2);
}
