<div class="container">
  <h1 class="mb-3">All lecturers</h1>

  <div>
    <mat-spinner
      style="margin: 150px auto"
      *ngIf="!(dataSourceObtained$ | async)"
    ></mat-spinner>
    <div class="grid--cards" *ngIf="dataSourceObtained$ | async">
      <ng-template ngFor let-lecturer [ngForOf]="dataSource$ | async">
        <app-lecturer-card [lecturer]="lecturer"></app-lecturer-card
      ></ng-template>
    </div>
  </div>
  <div
    *ngIf="(dataSourceObtained$ | async) && (dataSource$ | async).length == 0"
  >
    No lecturers added!
  </div>
  <div #pagesDiv (click)="pageLinkClicked($event)" class="pages">
    <div #forward></div>
  </div>
</div>
