<form [formGroup]="userForm" (ngSubmit)="onFormSubmit()">
  <p>
    <mat-form-field appearance="outline" style="width: 100%">
      <mat-label>Username</mat-label>
      <input
        matInput
        type="text"
        id="username"
        name="username"
        formControlName="username"
        placeholder=""
      />
      <mat-error
        *ngIf="username?.errors?.['required'] && username?.invalid && (username?.dirty || username?.touched)"
      >
        Username is required.
      </mat-error>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="outline" style="width: 100%">
      <mat-label>Password</mat-label>
      <input
        matInput
        type="password"
        id="password"
        name="password"
        formControlName="password"
        placeholder=""
      />
      <mat-error
        *ngIf="password?.errors?.['required'] && password?.invalid && (password?.dirty || password?.touched)"
      >
        Password is required.
      </mat-error>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="outline" style="width: 100%">
      <mat-label>Confirm password</mat-label>
      <input
        matInput
        type="password"
        id="confirmPassword"
        name="confirmPassword"
        formControlName="confirmPassword"
        placeholder=""
      />
      <mat-error
        *ngIf="confirmPassword?.errors?.['required'] && confirmPassword?.invalid && (confirmPassword?.dirty || confirmPassword?.touched)"
      >
        Password confirmation is required.
      </mat-error>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="outline" style="width: 100%">
      <mat-label>Email</mat-label>
      <input
        matInput
        type="email"
        id="email"
        name="email"
        formControlName="email"
        placeholder=""
      />
      <mat-error
        *ngIf="email?.errors?.['required'] && email?.invalid && (email?.dirty || email?.touched)"
      >
        Email is required.
      </mat-error>
      <mat-error
        *ngIf="email?.errors?.['email'] && email?.invalid && (email?.dirty || email?.touched)"
      >
        Please provide valid email address
      </mat-error>
    </mat-form-field>
  </p>
  <div class="alert alert-danger" *ngIf="passwordsNotEqual">
    <strong>You made a mistake!</strong> Passwords are not equal! Try again!
  </div>
  <button mat-raised-button type="submit">Next</button>
</form>
